html {
  font-size: 15px;
}
body {
  background-color: rgb(238, 236, 236);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h2,
p {
  font-size: 2em;
  margin-left: 20%;
}
div {
  align-items: center;
}

button {
  margin-left: 20%;
}
.section1 {
  position: absolute;
}
.samp {
  display: initial;
  color: brown;
}
.section1 img {
  position: fixed;
  float: left;
  width: 200px;
}

section {
  margin-top: auto;
  font-size: 2vh;
}

.full-width {
  width: 100%;
  overflow: hidden;
}

.full-width img {
  width: 100%;
  display: block;
  height: 400px;
}
.image1 {
  margin-top: -1000px;
  width: 400px;
  margin-right: 700px;
}

.image2 {
  margin-top: px;
  width: 400px;
  margin-right: 500px;
}
.divimg {
  margin-left: 1150px;
}
.divimg2 {
  margin-top: -20px;
  margin-right: 60px;
}
@media only screen and (max-width: 600px) {
  img {
    width: 80px;
  }
}
@media only screen and (max-width: 600px) {
  h1,p,h2 {
    font-size: 45px;
  }
}